[submodule "boxcutter-windows"]
	path = build/boxcutter-windows
	url = https://github.com/arizvisa/boxcutter-windows.git
	branch = user
[submodule "chef-bento"]
	path = build/chef-bento
	url = https://github.com/arizvisa/chef-bento.git
	branch = user
